[gcode_macro _HOME_X]
gcode:
    STATUS_HEATING
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.49 %}
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    SET_KINEMATIC_POSITION X=0 SET_HOMED=X
    M400 
    
    # Home X
    G28 X

    STATUS_HOMING
    
    # Sanftes Freifahren vom Endstopp
    G91
    G1 X-5 F900  # 15 mm/s für geschmeidiges Ablegen
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

    STATUS_READY


[gcode_macro _HOME_Y]
gcode:
    STATUS_HEATING
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.49 %}
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    SET_KINEMATIC_POSITION Y=0 SET_HOMED=Y
    M400 
    
    # Home Y
    G28 Y
    
    STATUS_HOMING
    
    # Sanftes Freifahren vom Endstopp
    G91
    G1 Y-5 F900  # 15 mm/s
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

    STATUS_READY


[homing_override]
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
  
  # 1. Aktuelle Beschleunigung sichern & Homing-Beschleunigung setzen
  {% set OLD_ACCEL = printer.toolhead.max_accel %}
  SET_VELOCITY_LIMIT ACCEL=1000  # Niedrige Beschleunigung für sanfte Anläufe

  # 2. Sanfter Z-Hop vorab (10 mm/s)
  SET_KINEMATIC_POSITION Z=1 SET_HOMED=Z
  G91
  G1 Z4 F600

  # 3. X & Y Homing
  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  # 4. Z Homing
  {% if home_all or 'Z' in params %}
    STATUS_HEATING
    
    # Eleganter Travel-Move zur Bettmitte (150 mm/s statt 250 mm/s)
    G90
    G1 X150 Y150 F9000

    G28 Z
    STATUS_HOMING
    
    # Sanftes Anheben nach Z-Homing
    G1 Z10 F600
    STATUS_READY
  {% endif %}

  # 5. Ursprüngliche Beschleunigung wiederherstellen
  SET_VELOCITY_LIMIT ACCEL={OLD_ACCEL}


[gcode_macro _CG28]
description: Homing only if necessary
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}