
#####################################################################
# --- PRINT START ---------------------------------------------------
#####################################################################

[gcode_macro PRINT_START]
gcode:
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    BED_MESH_CLEAR
    G28
    G90
    
# --- AWD MOTORS SYNC --------------------------------
    {% if not printer.motors_sync.applied %}
    SYNC_MOTORS
	{% endif %}
# ----------------------------------------------------
    
	G0 X{x_wait} Y{y_wait} Z50 F9000
    
    M140 S{target_bed}
    M104 S150

	{% if target_bed >= 100 %}
        M190 S100
    {% endif %}
	
    M190 S{target_bed}
	M109 S150
    
# --- HEATSOAK LOGIC ---------------------------------
	{% if target_bed > 90 %}
        SET_FAN_SPEED FAN=Nevermore SPEED=1
        M106 S255
        M117 Heatsoak 40°C
        TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM=40
        M107
    {% else %}
        M117 Heatsoak: 5 Min.
        G4 P300000
    {% endif %}
    M117 Heatsoak complete
# ----------------------------------------------------
    
    QUAD_GANTRY_LEVEL
    G28 Z METHOD=CONTACT CALIBRATE=1
    BED_MESH_CALIBRATE ADAPTIVE=1
    
    G0 X{x_wait - 60} Y4 Z15 F9000
    M109 S{target_extruder}
    
    SET_FAN_SPEED FAN=Exhaust SPEED=1
    
# --- PURGE LINE -------------------------------------
    G0 X{x_wait - 50} Y4 Z0.4 F10000
    M83
    G1 X{x_wait + 50} E20 F1000			
    G1 E-0.5 F2100
    M82
# ----------------------------------------------------


#####################################################################
# --- PRINT END -----------------------------------------------------
#####################################################################

[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 50, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400
    G92 E0
    G1 E-10.0 F1800
    
    TURN_OFF_HEATERS
    
    G90
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600
    
    M107
    BED_MESH_CLEAR
	SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel} VELOCITY={printer.configfile.settings.printer.max_velocity}
    UPDATE_DELAYED_GCODE ID=turn_off_fans DURATION=180
	M84
    
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END


[delayed_gcode turn_off_fans]
gcode:
    SET_FAN_SPEED FAN=Exhaust SPEED=0
    SET_FAN_SPEED FAN=Nevermore SPEED=0


#####################################################################
# --- MOTORS SYNC ---------------------------------------------------
#####################################################################

[gcode_macro SYNC_MOTOR]
gcode:
	{% if printer.motors_sync is defined %}
        {% if not printer.motors_sync.applied %}
            {action_respond_info("Motoren-Synchronisierung wird ausgeführt...")}
            SYNC_MOTORS
        {% else %}
            {action_respond_info("Motoren sind bereits synchronisiert.")}
        {% endif %}
    {% else %}
        {action_respond_info("motors_sync Modul ist nicht in printer.cfg vorhanden.")}
    {% endif %}

[gcode_macro SYNC_MOTOR_STATS]
gcode:
    SYNC_MOTORS_STATS

[gcode_macro SYNC_MOTOR_STATS_CLEAR]
gcode:
    SYNC_MOTORS_STATS CLEAR=1

[gcode_macro SYNC_MOTOR_CALIBRATION]
gcode:
    SYNC_MOTORS_CALIBRATE AXIS=y DISTANCE=16 REPEATS=2 PLOT=1


#####################################################################
# --- HOTEND FAN MONITORING -----------------------------------------
#####################################################################

# Author: alch3my#9819
# Requires a 3-wire fan with tachometer_pin defined. https://www.klipper3d.org/Config_Reference.html#heater_fan
# The tach wire can be connected to a spare endstop pin. 
# Don't forget a pullup (^) on the tach pin (example: tachometer_pin: ^P1.29)

# Monitoring loop. Begins at Klipper start.
[delayed_gcode CHECK_ALL_FANS]
initial_duration: 1
gcode:
    HOTEND_FAN_CHECK
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS DURATION=3

# Change min_rpm and max_consecutive_stops to your desired values.
[gcode_macro HOTEND_FAN_CHECK]
variable_he_stop_count: 0
gcode:
    {% set min_rpm = 3000|float %}
    {% set max_consecutive_stops = 3 %}
    {% set rpm = printer['heater_fan hotend_fan'].rpm|float %}
    {% set he_target = printer[printer.toolhead.extruder].target|float %}
    {% set he_temp = printer[printer.toolhead.extruder].temperature|float %}
    {% set fan_on_temp = printer.configfile.settings['heater_fan hotend_fan'].heater_temp|float %}
    {% set he_stop_count = printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int %}

    {% if (he_target >= fan_on_temp) and (rpm < min_rpm) and (he_temp >= fan_on_temp) %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE={he_stop_count + 1}
        M118 WARNING: Fan stoppage detected ({he_stop_count+1}/{max_consecutive_stops}).
        M400
        {% if printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int >= max_consecutive_stops-1 %}
            FAN_STOPPAGE_ROUTINE
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE=0
    {% endif %}

# Insert the gcode that you want to run when a fan stoppage is detected.
# This runs every ~3 seconds until the stop conditions are cleared.
[gcode_macro FAN_STOPPAGE_ROUTINE]
gcode:
    # If not already paused
    {% if printer['pause_resume'].is_paused|int == 0 %}
        M117 !!FAN STOPPAGE!!
        M118 FAN STOPPAGE DETECTED. PAUSING...
        PAUSE
        # Turn off the hotend. 
        # !! Don't forget to turn your hotend back on before resume. !!
        # -- If using this guide's pause/resume macros (in useful_macros.html), the hotend will automatically reheat on resume
        # -- (as long as the hotend is not turned off BEFORE pause is called)
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {% endif %}


#####################################################################
# --- BEACON AUTO CALIBRATE -----------------------------------------
#####################################################################

[gcode_macro BEACON_AUTO_CALIBRATE_CONTACT]
gcode:
    G28                            # Homing
    QUAD_GANTRY_LEVEL
    BEACON_AUTO_CALIBRATE          # Kontakt-Messung (erstellt neues Modell im RAM)
    G4 S5                          # 5 Sekunden Pause
    BEACON_MODEL_SAVE NAME=Neu     # Speichert dieses Modell unter dem Namen "Neu"
    G1 X150 Y150 Z10 F6000
    SAVE_CONFIG


#####################################################################
# --- PREHEAT -------------------------------------------------------
#####################################################################

[gcode_macro Preheat]
gcode:
    SAVE_GCODE_STATE NAME=Preheat
    M117 Preheat
    G28
    G90 
    G1 Z100 F1500
    M18
    M104 S150
    M106 S255
    M190 S100
    SET_FAN_SPEED FAN=Nevermore SPEED=1.0
	RESTORE_GCODE_STATE NAME=Preheat


#####################################################################
# --- STANDBY -------------------------------------------------------
#####################################################################

[gcode_macro Standby]
gcode:
    SAVE_GCODE_STATE NAME=Standby
    M117 
    M140 S100
    M104 S150
    RESTORE_GCODE_STATE NAME=Standby


#####################################################################
# --- XY BELT TENSION -----------------------------------------------
#####################################################################

[gcode_macro XY_Belt_Tension]
gcode:
    SAVE_GCODE_STATE NAME=STATE_XY_Belt_Tension
    {% if not printer.motors_sync.applied %}
    SYNC_MOTORS
	{% endif %}
    G90
    G0 X150 Y116 Z110 F3600
    RESTORE_GCODE_STATE NAME=STATE_XY_Belt_Tension


#####################################################################
# --- Z BELT TENSION ------------------------------------------------
#####################################################################

[gcode_macro Z_Belt_Tension]
gcode:
    SAVE_GCODE_STATE NAME=Z_Belt_Tension
    G90
    G0 X150 Y150 Z177 F3600
    RESTORE_GCODE_STATE NAME=Z_Belt_Tension
    
    