
[include macro.cfg]
[include mainsail.cfg]
[include neopixel.cfg]
[include shaketune.cfg]
[include sensorless.cfg]


#####################################################################
# --- PRINTER -------------------------------------------------------
#####################################################################

[mcu]
serial: /dev/ttyAMA0 
baud: 1000000
restart_method: command

[mcu EBBCan]
canbus_uuid: ae4887ff43f3

[printer]
kinematics: corexy
max_velocity: 1000  
max_accel: 20000
minimum_cruise_ratio: 0.5
max_z_velocity: 150
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 3600

[gcode_arcs]
resolution: 0.1

[exclude_object]


#####################################################################
# --- X/Y STEPPER SETTINGS ------------------------------------------
#####################################################################

# --- MOTOR0 RR(B) ------------------------

[stepper_y]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop	
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 60
second_homing_speed: 10
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC4
diag_pin: ^PG6
driver_SGTHRS: 51
interpolate: false
run_current: 1.2
sense_resistor: 0.05
stealthchop_threshold: 0

#[autotune_tmc stepper_y]
#motor: ldo-42sth48-2504ah
#tuning_goal: performance


# --- MOTOR1 RL(A) ------------------------

[stepper_x]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 60
second_homing_speed: 10
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PD11
diag_pin: ^PG9
driver_SGTHRS: 51
interpolate: false
run_current: 1.2
sense_resistor: 0.05
stealthchop_threshold: 0

#[autotune_tmc stepper_x]
#motor: ldo-42sth48-2504ah
#tuning_goal: performance


# --- MOTOR2 FL ---------------------------

[stepper_y1]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_y1]
uart_pin: PC6
driver_SGTHRS: 51
interpolate: false
run_current: 1.2
sense_resistor: 0.05
stealthchop_threshold: 0

#[autotune_tmc stepper_y1]
#motor: ldo-42sth48-2504ah
#tuning_goal: performance


# --- MOTOR3 FR ---------------------------

[stepper_x1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_x1]
uart_pin: PC7
driver_SGTHRS: 51
interpolate: false
run_current: 1.2
sense_resistor: 0.05
stealthchop_threshold: 0

#[autotune_tmc stepper_x1]
#motor: ldo-42sth48-2504ah
#tuning_goal: performance


#####################################################################
# --- AWD MOTORS SYNC -----------------------------------------------
#####################################################################

[motors_sync]
axes: x,y						# Axes on which synchronization will be performed, separated by commas. For example, for CoreXY kinematics: x,y.
accel_chip: beacon				# Accelerometer for vibrations collection: adxl345 / mpu9250 etc.
#encoder_chip_<axis>:			# Axis name, assigned encoder name, for measuring motor deviations.
#microsteps: 16 				# Maximum microsteps resolution relative to motor full step.
#steps_model: linear, 10000, 0	# Mathematical model and its coefficients describing the dependence of motor microstep displacement on the magnitude of the measured impulse.
								# The model determines how many microsteps the motor position is corrected per one correction step depending on the measured impulse magnitude.  
#max_step_size: 3 				# Maximum number of microsteps the motor can move in one correction step to achieve the planned impulse magnitude.
#axes_steps_diff: 				# Difference in motor positions in microsteps between two linked axes, to start checking the position offset of the secondary axis. 
								# Relevant only for CoreXY type kinematics. Default value - max_step_size + 1.
#retry_tolerance: 0 			# Forced threshold to which the motor impulse magnitude must drop for the synchronization procedure to complete successfully. 
								# Recommended to configure in order to filter possible measurement errors. When using an accelerometer, the typical range is [200..2000].
#retries: 0						# Maximum number of retries to reach retry_tolerance.
#head_fan:						# Full name of the toolhead fan that will be turned off during sync to eliminate its noise.
								# Can be specified multiple fans by separating their names with commas.
#axis_prefix_<axis>:			# Allows you to set a custom prefix that will be displayed before the axis name in terminal outputs.
								# You can use special characters or Unicode icons to make the axes easier to distinguish.

[delayed_gcode restore_motors_sync]
initial_duration: 1.0
gcode:
  SYNC_MOTORS RESTORE_SYNC=1


#####################################################################
# --- Z STEPPER SETTINGS --------------------------------------------
#####################################################################

# --- MOTOR4 (VR) -------------------------

[stepper_z]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

position_max: 230
position_min: 0
homing_speed: 20
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#[autotune_tmc stepper_z]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance


# --- MOTOR5 (HR) -------------------------

[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#[autotune_tmc stepper_z1]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance


# --- MOTOR6 (HL) -------------------------

[stepper_z2]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#[autotune_tmc stepper_z2]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance


# --- MOTOR7 (VL) -------------------------

[stepper_z3]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PD3
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#[autotune_tmc stepper_z3]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance


#####################################################################
# --- EXTRUDER ------------------------------------------------------
#####################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 22.79475
gear_ratio: 50:10
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3
min_temp: 10
max_temp: 315
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
max_extrude_cross_section: 5.0

[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance

[fan]
pin: EBBCan: PA0
kick_start_time: 0.1

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0
max_power: 1.0
fan_speed: 1.0
tachometer_pin: ^EBBCan: PB9


#####################################################################
# --- INPUT SHAPER --------------------------------------------------
#####################################################################

[input_shaper]
shaper_freq_x :122.8
shaper_freq_y: 80.4
shaper_type: mzv
damping_ratio_x: 0.040
damping_ratio_y: 0.037


# --- EBBCAN BOARD RESONANCE TESTER -------

#[resonance_tester]
#accel_chip: adxl345
#probe_points: 150, 150, 20
#accel_per_hz: 100
#sweeping_accel: 400
#sweeping_period: 0

#[adxl345]
#cs_pin: EBBCan: PB12
#spi_software_sclk_pin: EBBCan: PB10
#spi_software_mosi_pin: EBBCan: PB11
#spi_software_miso_pin: EBBCan: PB2
#axes_map: x,y,z


# --- EXT RPI RESONANCE TESTER ------------

#[resonance_tester]
#accel_chip: adxl345
#probe_points: 150, 150, 20
#accel_per_hz: 100
#sweeping_accel: 400
#sweeping_period: 0

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None


# --- BEACON RESONANCE TESTER -------------

[resonance_tester]
accel_chip: beacon
probe_points: 150, 150, 20
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0


#####################################################################
# --- BED HEATER ----------------------------------------------------
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 120


#####################################################################
# --- PROBE ---------------------------------------------------------
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_422783785154354D38202020FF0A242F-if00

speed: 20							# Z probing dive speed.
lift_speed: 20						# Z probing lift speed.
backlash_comp: 0.00433				# Backlash compensation distance for removing Z backlash before measuring the sensor response.
x_offset: 0							# X offset of beacon from the nozzle.
y_offset: 21.1						# Y offset of beacon from the nozzle.
trigger_distance: 2					# Beacon trigger distance for homing.
trigger_dive_threshold: 1			# Threshold for range vs dive mode probing. Beyond `trigger_distance + trigger_dive_threshold` a dive will be used.
trigger_hysteresis: 0.006			# Hysteresis on trigger threshold for untriggering, as a percentage of the trigger threshold.
z_settling_time: 5					# Delay (in ms) for the Z axis to settle before taking proximity measurements.
cal_nozzle_z: 0.1					# Expected nozzle offset after completing manual Z offset calibration.
cal_floor: 0.2						# Minimum z bound on sensor response measurement.
cal_ceil: 5							# Maximum z bound on sensor response measurement.
cal_speed: 1						# Speed while measuring response curve.
cal_move_speed: 10					# Speed while moving to position for response curve measurement.
default_model_name: default			# Name of default beacon model to load.
mesh_main_direction: x				# Primary travel direction during mesh measurement.
#mesh_overscan: -1					# Distance to use for direction changes at mesh line ends. Omit this setting and a default will be calculated from line spacing and available travel.
mesh_cluster_size: 1				# Radius of mesh grid point clusters.
mesh_runs: 1						# Number of passes to make during mesh scan.
zero_reference_cluster_size: 1		# Radius of cluster used for zero reference position, this is the equivalent of mesh_cluster_size for the zero reference position.
accel_scale: 16g					# Adjust the sensitivity of the accelerometer during shaper measurement, valid settings on RevH are 16g, 8g, 4g and 2g.
accel_axes_map: -x, -y, z			# Reassign or invert axes of the accelerometer to align with machine coordinates.

default_probe_method: proximity		# Sets the default probing method for mesh, tilt, qgl, probe, etc.
contact_max_hotend_temperature: 180	# Increase to enable hot contacting Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.
contact_sensitivity: 0				# Adjusts noise tolerance of contact processing. Values 0-3 are valid, with 3 tolerating the most noise.
contact_latency_min: 0				# Limits how low of a latency contact is allowed to advance.

## New additions for beacon safe_z_home functionality
home_xy_position: 150, 150			# X, Y coordinate for homing z via contact.
home_z_hop: 5						# Distance to retract before x/y homing moves.
home_z_hop_speed: 30				# Retraction speed for z hop.
home_xy_move_speed: 150				# Speed for moving to home_xy_position.
home_y_before_x: true				# If set, the Y axis will home first when using the beacon safe_z_home.

## New additions for setting default homing mode
home_method: proximity				# Sets default homing method used by G28. `proximity` requires a valid beacon model to be loaded.
home_method_when_homed: proximity	# Defaults to `home_method` value. Sets the homing method when the machine is already in a homed state.
home_autocalibrate: never			# Sets the autocalibration behavior. `always` will autocal on every home, `unhomed` on initial homing, 
									# `never` will never so that models stored in config may be used with proximity homing.

home_gcode_pre_x: 	LOWER_STEPPER_CURRENT_AWD	# Enables a gcode macro before homing the x axis.
home_gcode_post_x:	NEOPIXEL_GREEN				# Enables a gcode macro after homing the x axis.
					G91
					G1 X-5 F1200
					G90
					RESTORE_STEPPER_CURRENT_AWD
					NEOPIXEL_WHITE

home_gcode_pre_y:	LOWER_STEPPER_CURRENT_AWD	# Enables a gcode macro before homing the y axis.
home_gcode_post_y:	NEOPIXEL_GREEN				# Enables a gcode macro after homing the x axis.
					G91
					G1 Y-5 F1200
					G90
					RESTORE_STEPPER_CURRENT_AWD
					NEOPIXEL_WHITE

#contact_activate_gcode: _CONTACT_ACTIVATE		# Enables a gcode macro to be called before contact is activated.
contact_deactivate_gcode:	NEOPIXEL_GREEN		# Enables a gcode macro to be called after contact is deactivated.
							NEOPIXEL_WHITE

## New autocalibration config options
autocal_speed: 3								# Speed during contact movement. Probing outside of 2-5mm/s not recommended and at your own risk.
autocal_accel: 100								# Acceleration of autocal movement.
autocal_retract_dist: 2							# Retract distance between autocal samples.
autocal_retract_speed: 10						# Speed of autocal retraction move.
autocal_sample_count: 3							# Number of samples used for each autocal.
autocal_tolerance: 0.008						# Acceptance tolerance for an autocal result.
autocal_max_retries: 3							# Number of retry attempts permitted when tolerance is exceeded.


#####################################################################
# --- FAN CONTROL ---------------------------------------------------
#####################################################################

[controller_fan Controller]
pin: PD12
cycle_time: 0.00004
hardware_pwm: true
kick_start_time: 0.1
heater: heater_bed
fan_speed: 0.08

[controller_fan TMC_Driver]
pin: PE5
cycle_time: 0.00004
hardware_pwm: true
kick_start_time: 0.1
stepper: stepper_x
fan_speed: 1.0

[fan_generic Nevermore]
pin: PD13
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.00004
hardware_pwm: true
kick_start_time: 0.1
off_below: 0.0

[fan_generic Exhaust]
pin: PD14
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.00004
hardware_pwm: true
kick_start_time: 0.1
off_below: 0.0


#####################################################################
# --- ADDITIONAL SENSORS --------------------------------------------
#####################################################################

[temperature_sensor Chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor RPi4B]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor BTT_Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100


#####################################################################
# --- HOMING AND QGL ------------------------------------------------
#####################################################################

[quad_gantry_level]
gantry_corners:
  -60, -10
  360, 370

points:
  50,25
  50,225
  250,225
  250,25
speed: 300
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 40


#####################################################################
# --- BED MESH LEVELING ---------------------------------------------
#####################################################################

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 30,30
mesh_max: 275,275
probe_count: 51,51
zero_reference_position: 150,150
adaptive_margin: 5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.1


#####################################################################
# --- LED CONTROL ---------------------------------------------------
#####################################################################

[led Chamber]
white_pin: PD15
cycle_time: 0.00004
hardware_pwm: true
#initial_WHITE: 1.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.434
#*# pid_ki = 1.402
#*# pid_kd = 249.871
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.930
#*# pid_ki = 2.930
#*# pid_kd = 57.370
#*#
#*# [motors_sync]
#*# steps_model_x = exponential,
#*# 	12811.119815513333,
#*# 	0.11345644220244502,
#*# 	-12458.154193048018
#*# steps_model_y = exponential,
#*# 	12811.119815513333,
#*# 	0.11345644220244502,
#*# 	-12458.154193048018
#*#
#*# [beacon model default]
#*# model_coef = 1.5665143433531554,
#*# 	  1.9179356553341103,
#*# 	  0.8302637437490767,
#*# 	  0.4906095954228495,
#*# 	  0.2699215507877975,
#*# 	  -0.1076360893614085,
#*# 	  -0.26628452051226764,
#*# 	  0.034940590273139005,
#*# 	  0.19941026401051512,
#*# 	  0.06657109865779233
#*# model_domain = 1.859552891048169e-07,1.9315197965558737e-07
#*# model_range = 0.199583,4.999583
#*# model_temp = 34.346987
#*# model_offset = 0.00000
